<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="todoApp">
        <ul class="list">
            <li v-for="(todo, idx) in todos" class="item">
                <input class="check" v-bind:id="'todo_' + idx" type="checkbox" v-model="todo.checked" />
                <label v-bind:for="'todo_' + idx" class="check-label"></label>
                <input class="text" type="text" v-model="todo.text" />
                <div class="del" v-on:click="remove(idx)">x</div>
            </li>
        </ul>
        <div class="add" v-on:click="addNew">+</div>
    </div>

    <script src="script.js"></script>
</body>

</html>